body {
  font-size: 14px;
}

/* top nav bar */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

/* includes all divs */
section {
  margin: 0 auto;
  width: 60%;
}

/* top nav bar text */
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

/* all text */
.example, h3 {
  padding-top: 30px;
  text-align: center
}

/* all text inside section */
h3 {
  font-size: 1.3em;
}

/* divs 1-6 */
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* divs 7-9 */
.special {
  background-color: blue;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
